:root {
  --digital-city-yokohama-lg-jp-inter-regular-font-family: "Inter", Helvetica;
  --digital-city-yokohama-lg-jp-inter-regular-font-weight: 400;
  --digital-city-yokohama-lg-jp-inter-regular-font-size: 16px;
  --digital-city-yokohama-lg-jp-inter-regular-letter-spacing: 0px;
  --digital-city-yokohama-lg-jp-inter-regular-line-height: normal;
  --digital-city-yokohama-lg-jp-inter-regular-font-style: normal;
  --digital-city-yokohama-lg-jp-semantic-heading-2-font-family: "Inter",
    Helvetica;
  --digital-city-yokohama-lg-jp-semantic-heading-2-font-weight: 700;
  --digital-city-yokohama-lg-jp-semantic-heading-2-font-size: 24px;
  --digital-city-yokohama-lg-jp-semantic-heading-2-letter-spacing: 0px;
  --digital-city-yokohama-lg-jp-semantic-heading-2-line-height: normal;
  --digital-city-yokohama-lg-jp-semantic-heading-2-font-style: normal;
  --digital-city-yokohama-lg-jp-semantic-heading-4-font-family: "Noto Sans JP",
    Helvetica;
  --digital-city-yokohama-lg-jp-semantic-heading-4-font-weight: 700;
  --digital-city-yokohama-lg-jp-semantic-heading-4-font-size: 18px;
  --digital-city-yokohama-lg-jp-semantic-heading-4-letter-spacing: 1.600000023841858px;
  --digital-city-yokohama-lg-jp-semantic-heading-4-line-height: 20.700000762939453px;
  --digital-city-yokohama-lg-jp-semantic-heading-4-font-style: normal;
  --digital-city-yokohama-lg-jp-semantic-input-font-family: "Noto Sans JP",
    Helvetica;
  --digital-city-yokohama-lg-jp-semantic-input-font-weight: 300;
  --digital-city-yokohama-lg-jp-semantic-input-font-size: 16px;
  --digital-city-yokohama-lg-jp-semantic-input-letter-spacing: 0px;
  --digital-city-yokohama-lg-jp-semantic-input-line-height: normal;
  --digital-city-yokohama-lg-jp-semantic-input-font-style: normal;
  --digital-city-yokohama-lg-jp-semantic-link-underline-font-family: "Inter",
    Helvetica;
  --digital-city-yokohama-lg-jp-semantic-link-underline-font-weight: 400;
  --digital-city-yokohama-lg-jp-semantic-link-underline-font-size: 16px;
  --digital-city-yokohama-lg-jp-semantic-link-underline-letter-spacing: 0px;
  --digital-city-yokohama-lg-jp-semantic-link-underline-line-height: normal;
  --digital-city-yokohama-lg-jp-semantic-link-underline-font-style: normal;
  --digital-city-yokohama-lg-jp-semantic-item-font-family: "Inter", Helvetica;
  --digital-city-yokohama-lg-jp-semantic-item-font-weight: 400;
  --digital-city-yokohama-lg-jp-semantic-item-font-size: 15.875px;
  --digital-city-yokohama-lg-jp-semantic-item-letter-spacing: 0px;
  --digital-city-yokohama-lg-jp-semantic-item-line-height: normal;
  --digital-city-yokohama-lg-jp-semantic-item-font-style: normal;
  --digital-city-yokohama-lg-jp-semantic-item-underline-font-family: "Inter",
    Helvetica;
  --digital-city-yokohama-lg-jp-semantic-item-underline-font-weight: 400;
  --digital-city-yokohama-lg-jp-semantic-item-underline-font-size: 15.875px;
  --digital-city-yokohama-lg-jp-semantic-item-underline-letter-spacing: 0px;
  --digital-city-yokohama-lg-jp-semantic-item-underline-line-height: normal;
  --digital-city-yokohama-lg-jp-semantic-item-underline-font-style: normal;
  --digital-city-yokohama-lg-jp-noto-sans-JP-demilight-font-family: "Noto Sans JP",
    Helvetica;
  --digital-city-yokohama-lg-jp-noto-sans-JP-demilight-font-weight: 300;
  --digital-city-yokohama-lg-jp-noto-sans-JP-demilight-font-size: 24px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-demilight-letter-spacing: 0px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-demilight-line-height: 28.799999237060547px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-demilight-font-style: normal;
  --digital-city-yokohama-lg-jp-noto-sans-JP-bold-font-family: "Noto Sans JP",
    Helvetica;
  --digital-city-yokohama-lg-jp-noto-sans-JP-bold-font-weight: 700;
  --digital-city-yokohama-lg-jp-noto-sans-JP-bold-font-size: 12px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-bold-letter-spacing: 0px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-bold-line-height: 13.800000190734863px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-bold-font-style: normal;
  --digital-city-yokohama-lg-jp-noto-sans-JP-light-font-family: "Noto Sans JP",
    Helvetica;
  --digital-city-yokohama-lg-jp-noto-sans-JP-light-font-weight: 300;
  --digital-city-yokohama-lg-jp-noto-sans-JP-light-font-size: 16px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-light-letter-spacing: 0px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-light-line-height: 18.399999618530273px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-light-font-style: normal;
  --digital-city-yokohama-lg-jp-noto-sans-JP-medium-font-family: "Noto Sans JP",
    Helvetica;
  --digital-city-yokohama-lg-jp-noto-sans-JP-medium-font-weight: 500;
  --digital-city-yokohama-lg-jp-noto-sans-JP-medium-font-size: 16px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-medium-letter-spacing: 0px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-medium-line-height: 28.799999237060547px;
  --digital-city-yokohama-lg-jp-noto-sans-JP-medium-font-style: normal;
  --body-2-font-family: "Poppins", Helvetica;
  --body-2-font-weight: 400;
  --body-2-font-size: 16px;
  --body-2-letter-spacing: 0px;
  --body-2-line-height: 24px;
  --body-2-font-style: normal;
}
